.menu{
    width: 50% !important;
}

a{
    cursor: pointer;
}
img{
    height: fit-content;
    opacity: 0.5;
}

.black{
    color: black;
    font-size: x-large;
}


h2{
    font-size: 27px !important;
}

.hvSites:hover{
    background-color: cadetblue;
    color: black;
    cursor: pointer;
}

.menup:hover{
    border-bottom: 1px solid cadetblue;
}

header, nav{
    height: 72px;
}
